<% @cartitems.each do |t| %>
<p>
'商品名:'
<%= Product.find(t.product_id).name %>
'価格:'
<%= Product.find(t.product_id).price %>
'個数:'
<%= t.qty %>
<%= link_to 'カートから削除する', "/cart_items/#{t.id}", method: :delete %>
</p>

<% end %>
<p><%= link_to '商品一覧ページ', root_path %></p>